<%
  genStar = (star) => {
    return "grade ".repeat(star);
  };

  tags = [
    "Free cencellation",
    "No prepayment"
  ];
  results = [
    {
      img: 'Rachada1.jpg',
      name: "Rachada Hotel",
      star: 4,
      reviews: 283,
      room: "Deluxe Double Room",
      price: "1,980",
      location: "Rachada, Bangkok",
      distance: 2,
      tags: [0, 1],
    },
    {
      img: 'Phaya.jpg',
      name: "Forever Place",
      star: 5,
      reviews: 121,
      room: "Standard Double Room",
      price: "1,680",
      oldPrice: "1,980",
      location: "Phaya Thai, Bangkok",
      distance: 2.9,
      tags: [0],
    },
    {
      img: 'Bangkapi.jpg',
      name: "LUV Hotel",
      star: 4,
      reviews: 325,
      room: "Standard Double Room",
      price: "2,460",
      location: "Bangkapi, Bangkok",
      distance: 14,
      tags: [0],
    },
    {
      img: 'Chatuchack1.jpg',
      name: "WOW Life Hotel",
      star: 4,
      reviews: 204,
      room: "Standard Double Room",
      price: "2,240",
      oldPrice: "2,880",
      location: "Chatuchack, Bangkok",
      distance: 12,
      tags: [1],
    },
    {
      img: 'Chatuchack2.jpg',
      name: "Celebrity Palace",
      star: 5,
      reviews: 189,
      room: "Standard Double Room",
      price: "1,890",
      oldPrice: "2,120",
      location: "Chatuchack, Bangkok",
      distance: 8,
      tags: [1],
    },
    {
      img: 'RangRak.jpg',
      name: "RR Space",
      star: 4,
      reviews: 102,
      room: "Deluxe Double Room",
      price: "2,090",
      location: "Rang Rak, Bangkok",
      distance: 4.4,
      tags: [0],
    },
    {
      img: 'Watana1.jpg',
      name: "Bangkok Hostel",
      star: 5,
      reviews: 112,
      room: "Twin Room",
      price: "880",
      location: "Watana, Bangkok",
      distance: 6,
      tags: [0, 1],
    },
    {
      img: 'Watana2.jpg',
      name: "Watana First Hostel",
      star: 3,
      reviews: 608,
      room: "Twin Room",
      price: "790",
      oldPrice: "1,280",
      location: "Watana, Bangkok",
      distance: 6,
      tags: [0],
    },
    {
      img: 'DinDaeng1.jpg',
      name: "DD Space",
      star: 4,
      reviews: 138,
      room: "Standard Double Room",
      price: "1,240",
      oldPrice: "1,700",
      location: "Din Daeng, Bangkok",
      distance: 7,
      tags: [],
    },
    {
      img: 'DinDaeng2.jpg',
      name: "Dininn Hotel",
      star: 3,
      reviews: 446,
      room: "Deluxe Double Room",
      price: "3,450",
      location: "Din Daeng, Bangkok",
      distance: 7,
      tags: [],
    },
  ];
 %> 

<ul class="list-divider-info no-divider-down-sm">
<% for (var i = 0; i < results.length; i++) { %>
  <li>
      <div class="card card-rounded-0-sm w-100 hover-shadow">
        <div class="row no-gutters">

          <!-- Room Image -->
          <div class="col-5 col-md-4">
            <img class="search-card-img pic-height-sm" src="./assets/images/<%- results[i].img -%>" alt="hotel picture <%-i-%>" class="card-img">
          </div>

          <!-- Descriptions -->
          <div class="col-7 col-md-8">
            <div class="card-body-narrow row no-gutters">

              <!-- top-left -->
              <div class="col-md-7">
                <a href="#" class="card-text"><%- results[i].location -%></a>
                <span class="card-text d-none d-lg-inline">・<%- results[i].distance -%>km from center</span>
                <h4 class="card-title fz-hotel-title"><a href="./detail.html"><%- results[i].name -%></a></h4>
              </div>

              <!-- top-right-->
              <div class="col-md-5">
                <div class="d-flex flex-column align-items-md-end align-items-lg-center justify-content-lh-end flex-lg-row">
                    <div class="material-icons fz-grade">
                      <%- genStar(results[i].star) -%>
                    </div>
                    <p class="card-subtitle"><%- results[i].star -%>.0(<%- results[i].reviews -%>)</p>
                </div>
              </div>

              <!-- bottom-left -->
              <div class="col-md-7">
                <h5 class="card-subtitle"><%- results[i].room -%></h5>
                <p class="card-text mb-2 mb-md-3">2 guests・1 bed (Queen size)</p>
                <div class="d-none d-md-flex align-items-center flex-wrap">
                <% for (var j=0; j<results[i].tags.length; j++) { %>
                  <div class="badge badge-info badge-pill mr-1 mb-1"><%- tags[ results[i].tags[j] ] -%></div>
                <% } %>
                </div>
              </div>

              <!-- bottom-right-->
              <div class="col-md-5">
                <div class="d-flex h-100 flex-column justify-content-end align-items-end">
                  <p class="card-text d-none d-md-block">per night</p>
                  <% if (results[i].oldPrice != undefined) { %>
                    <p class="old-price">TWD <%- results[i].oldPrice -%></p>
                    <h4 class="fz-hotel-title">TWD <span class="h6-md text-primary"><%- results[i].price -%></span></h4>
                  <% } else { %>
                    <h4 class="fz-hotel-title">TWD <%- results[i].price -%></h4>
                  <% } %>
                </div>
              </div>
              
            </div>
          </div>

        </div>
      </div>
  </li>
<% } %> 
</ul>