<div class="d-flex justify-content-between align-items-center">
  <a href="<%- href -%>" class="material-icons text-dark mr-3" <%- options -%>>remove</a>
    <%- number -%>
  <a href="<%- href -%>" class="material-icons text-dark ml-3" <%- options -%>>add</a>
</div>