<div class="d-flex justify-content-between">
  <a href="<%- href -%>" class="material-icons text-dark align-middle mr-3" <%- options -%>>remove</a>
    <%- number -%>
  <a href="<%- href -%>" class="material-icons text-dark align-middle ml-3" <%- options -%>>add</a>
</div>