<%
  tags = [
    {
      icon: "wifi",
      name: "Wifi"
    },
    {
      icon: "restaurant",
      name: "Breakfast"
    },
    {
      icon: "tv",
      name: "Television"
    },
    {
      icon: "ac_unit",
      name: "Air Conditioner"
    },
    {
      icon: "kitchen",
      name: "Refrigerator"
    },
    {
      icon: "room_service",
      name: "Room Service"
    },
    {
      icon: "wifi",
      name: "Mini Bar"
    },
    {
      icon: "smoke_free",
      name: "Smoke Free"
    },
  ];
  rooms =[
    {
      name: "Deluxe Double Room A",
      price: "1,490",
      oldPrice: "1,600",
      img: "roomA.jpg",
      tags: [0,1,2,3,4,6],
    },
    {
      name: "Deluxe Double Room B",
      price: "1,600", 
      img: "roomB.jpg",
      tags: [0,1,2,3,4,6],
    },
    {
      name: "Deluxe Suite with Pool",
      price: "1,980",
      img: "Rachada1.jpg",
      tags: [0,1,2,3,4,5,6,7],
    },
  ];

  genPrices = (price, oldPrice) => {
    res = "";
    if (oldPrice != undefined) {
      res += "<p class=\"text-secondary text-crossout p-sub\">TWD " + oldPrice +"</p>";
      res += "<h6>TWD <span class=\"text-primary\">" + price + "</span></h6>";
    } else {
      res += "<h6>TWD " + price + "</h6>";
    }
    return res;
  };
%>
<div class="container">
<table class="w-100 list-divider-info mb-6">
  <tr class="row no-gutters d-none d-md-flex text-uppercase">
    <th class="col-md-6">room type</th>
    <th class="col-md-2 text-center">sleeps</th>
    <th class="col-md-2 text-center">price</th>
    <th class="col-md-2 text-center">rooms</th>
  </tr>
  <% for (var i=0; i<rooms.length; i++) { %>
  <tr class="row no-gutters">
    <td class="card col-md-6">
      <div class="row no-gutters">
        <!-- room picture -->
        <div class="col-6">
          <img class="pic-height-sm room-card-img" src="./assets/images/<%- rooms[i].img -%>" alt="room picture">
        </div>
        <!-- room description -->
        <div class="col-6 room-card-desc">
          <div class="card-body centering-vertical h-100">
            <h6 class="mt-1"><%- rooms[i].name -%></h6>
            <p class="card-text mb-3">1 bed (Queen size)</p>

            <!-- tags -->
            <ul class="room-tags-group flex-fill d-flex flex-lg-column flex-wrap">
            <% for (var j = 0; j < rooms[i].tags.length; j++) { %>
              <li class="text-secondary">
                <span class="p-sub material-icons align-middle"><%- tags[rooms[i].tags[j]].icon -%></span>
                <span class="d-none d-lg-inline"><%- tags[rooms[i].tags[j]].name -%></span>
              </li>
            <% } %> 
            </ul>
            <div class="d-block d-md-none">
              <span class="material-icons">person</span><span class="material-icons">person</span>
            </div>
            
          </div>
        </div>
      </div>
      <!-- HIDDEN when larger than md -->
      <div class="card-footer px-2 py-2 d-md-none border-0 bg-info">
        <div class="row no-gutters">
          <div class="col-6 centering-vertical my-2" data-toggle="collapse">
          <%- include('../components/number-picker', {number: 0, href: "#cartCollapse", options: "data-toggle=\"collapse\""}) -%>
          </div>
          <div class="col-6 centering-vertical text-right">
            <%- genPrices(rooms[i].price, rooms[i].oldPrice) -%> 
          </div>
        </div>
      </div>
      <!--------------------------------->
    </td>

    <td class="d-none d-md-flex col-md-2 centering-total">
      <div>
        <span class="material-icons">person</span><span class="material-icons">person</span>
      </div>
    </td>
    <td class="d-none d-md-flex col-md-2 centering-total">
      <div class="text-center">
        <%- genPrices(rooms[i].price, rooms[i].oldPrice) -%> 
        <p class="card-text">per night</p>
      </div>
    </td>
    <td class="d-none d-md-flex col-md-2 centering-total">
      <%- include('../components/number-picker', {number: 0, href: "#cartCollapse", options: "data-toggle=\"collapse\""}) -%>
    </td>
  </tr>
  <% } %> 
</table>
</div>

<div id="cartCollapse" class="collapse bottom-modal fixed-bottom">
  <div class="container d-flex justify-content-md-between flex-column flex-md-row">
    <div>
      <p class="small text-secondary">1 room・2 night</p>
      <h4 class="mb-4">TWD 3,960</h4>
    </div>
    <div class="row">
      <div class="col-6">
        <button class="btn btn-outline-primary btn-lg text-uppercase" data-target="#cartCollapse" data-toggle="collapse">cencel</button>
      </div>
      <div class="col-6">
        <button class="btn btn-primary btn-lg text-uppercase" data-target="#cartCollapse" data-toggle="collapse">reserve</button>
      </div>
    </div>
  </div>
</div>