<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%- title -%></title>

  <!-- Materiel Icons-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <!-- Lightpicker Styles -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/litepicker/dist/css/style.css"/>
  <!-- General Styles -->
  <link rel="stylesheet" href="assets/style/all.css">

  <!-- Lightpicker -->
  <script src="https://cdn.jsdelivr.net/npm/litepicker/dist/js/main.nocss.js"></script>
  <!-- Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 
</head>
<body>

<%- include('components/header') -%>

<%- include('components/banner-search') -%>
<%- include('index/top-choices') -%>
<%- include('index/popular-dest') -%>

<%- contents -%>

<%- include('components/subscribe-lg') -%>
<%- include('components/footer') -%>

<!-- AOS -->
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>

<!-- JS Initializations -->
<script>
  // Lightpicker
  window.disableLitepickerStyles = true;
  let picker = new Litepicker({
    element: document.getElementById('searchDatePicker'),
    numberOfMonths: 2,
    selectForward: true,
    singleMode: false,
    autoApply: true,
  });

  // AOS
  AOS.init({
    delay: 0,
    duration: 800,
    once: false,
    offset: 150,
  });
</script>
</body>
</html>