<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%- title -%></title>

  <!-- Materiel Icons-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <!-- Lightpicker Styles -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/litepicker/dist/css/style.css"/>
  <!-- JQ Styles -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <!-- Swiper styles -->
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper.min.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/components/navigation/navigation.min.css">
  <!-- General Styles -->
  <link rel="stylesheet" href="assets/style/all.css">

  <!-- Lightpicker -->
  <script src="https://cdn.jsdelivr.net/npm/litepicker/dist/js/main.nocss.js"></script>
  <!-- Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <!-- Jquery UI -->
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <!-- Swiper -->
  <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

</head>
<body>

<!-- Start of app -->
<div class="app">

<!-- Start of header -->
<nav class="header">
<% if ( current == "member") { %>
  <%- include('components/header', {simple: false, member: true}) -%>
<% } else { %>
  <%- include('components/header', {simple: false, member: false}) -%>
<% } %>
<% if ( current == "search-result") { %>
  <%- include('components/search-bar-lg', {options: ""}) -%>
<% } else if ( current == "detail" ) { %>
  <%- include('components/search-bar-lg', {options: "with-return-btn"}) -%>
<% } %>
</nav>
<!-- End of header -->

<!-- Start of content -->
<div class="content">

<% if (current == 'index') { %>
  <%- include('components/banner-search') -%>
  <%- include('index/top-choices') -%>
  <%- include('index/popular-dest') -%>
<% } %>

<% if (current == "search-result") { %>
  <%- include('search-result/result') -%>
<% } %>

<% if (current == 'member') { %>
  <%- include('member/member') -%>
<% } %>

<%- contents -%>

<% if (current == 'detail') { %>
  <%- include('detail/rooms') -%>
<% } %>

<% if (current == 'booking') { %>
  <%- include('booking/booking') -%>
<% } %>

<% if (current == 'index') { %>
  <%- include('components/subscribe-lg') -%>
<% } else if (current == "search-result" || current == "detail") { %>
  <%- include('components/subscribe') -%>
<% } %>
</div>
<!-- End of content -->

<!-- Start of footer -->
<% if (current == 'booking' || current == 'confirmation') { %>
  <%- include('components/footer', { short: true }) -%>
<% } else { %>
  <%- include('components/footer', { short: false }) -%>
<% } %>
<!-- End of footer -->

</div>
<!-- End of app -->

<!-- AOS -->
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>

<!-- JS Initializations -->
<script>
  // Lightpicker
  window.disableLitepickerStyles = true;
  let picker = new Litepicker({
    element: document.getElementById('searchDatePicker'),
    numberOfMonths: 2,
    selectForward: true,
    singleMode: false,
    autoApply: true,
  });

  // Jquery UI slider
  $( function() {
    $( "#budgetRange" ).slider({
      range: true,
      min: 0,
      max: 4000,
      values: [ 1000, 3000 ],
      slide: function( event, ui ) {
        $( "#minPrice" ).val( ui.values[0] );
        $( "#maxPrice" ).val( ui.values[1]);
      }
    });
    $( "#minPrice" ).val( $( "#budgetRange" ).slider( "values", 0 ));
    $( "#maxPrice" ).val( $( "#budgetRange" ).slider( "values", 1 ));
  } );

  // AOS
  AOS.init({
    delay: 0,
    duration: 800,
    once: false,
    offset: 150,
  });
</script>
</body>
</html>